SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="0200", ATTRS{serial}=="E6614103E79D7937", SYMLINK+="Fire-Alice"
SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="0200", ATTRS{serial}=="E6614103E79C5E37", SYMLINK+="Fire-James"
SUBSYSTEM=="tty", ATTRS{idVendor}=="cafe", ATTRS{idProduct}=="0200", ATTRS{serial}=="E6614103E7734B22", SYMLINK+="Fire-Susan"
